---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blogs">
    <main class="">
        <h1 class="mx-auto text-2xl w-7/12 mb-16">
            <span class="font-extralight">&lt;<span class="text-red-500">div</span>&gt;</span>
            <span>Just some random thoughts.</span>
        </h1>

        <ul class="space-y-5">
            <li>
                <div class="font-trispace space-y-1 cursor-pointer hover:bg-black hover:bg-opacity-20 rounded-lg px-3 py-2">
                    <h2 class="font-semibold">Pengalaman migrasi dari PHP ke JS</h2>
                    <h3>Des '23</h3>
                    <span class="bg-secondary px-4 py-1 rounded-lg text-primary inline-block">Tech</span>
                </div>
            </li>
            <li>
                <div class="font-trispace space-y-1 cursor-pointer hover:bg-black hover:bg-opacity-20 rounded-lg px-3 py-2">
                    <h2 class="font-semibold">Tertipu saat COD membeli ganja.</h2>
                    <h3>Feb '24</h3>
                    <span class="bg-secondary px-4 py-1 rounded-lg text-primary inline-block">Random</span>
                </div>
            </li>
            <li>
                <div class="font-trispace space-y-1 cursor-pointer hover:bg-black hover:bg-opacity-20 rounded-lg px-3 py-2">
                    <h2 class="font-semibold">Yang terjadi setelah membaca buku Filosofi Teras.</h2>
                    <h3>Mar '24</h3>
                    <span class="bg-secondary px-4 py-1 rounded-lg text-primary inline-block">Self</span>
                </div>
            </li>
        </ul>
        <h1 class="mx-auto text-2xl w-7/12 mt-16">
            <span class="font-extralight">&lt;/<span class="text-red-500">div</span>&gt;</span>
        </h1>
    </main>
</Layout>