---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
    <main class="mt-20">
        <h1 class="text-2xl md:w-8/12 mx-auto">
            <span class="font-extralight">&lt;<span class="text-red-500">section</span>&gt;</span>
            <span class="font-light font-trispace">Dive Into My Projects Ocean</span>
            <span class="font-extralight">&lt;/<span class="text-red-500">section</span>&gt;</span>
        </h1>
        <div class="mt-28 grid grid-cols-2 md:grid-cols-3 justify-between gap-y-8">
            <div class="h-60 w-48 bg-quarternary">
                <div class="bg-gray-400 h-2/4"></div>
                <div class="m-2 font-trispace">
                    <h3 class="">TITLE</h3>
                    <p class="text-sm opacity-80 font-light text-white">Description Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="h-60 w-48 bg-quarternary">
                <div class="bg-gray-400 h-2/4"></div>
                <div class="m-2 font-trispace">
                    <h3 class="">TITLE</h3>
                    <p class="text-sm opacity-80 font-light text-white">Description Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="h-60 w-48 bg-quarternary">
                <div class="bg-gray-400 h-2/4"></div>
                <div class="m-2 font-trispace">
                    <h3 class="">TITLE</h3>
                    <p class="text-sm opacity-80 font-light text-white">Description Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="h-60 w-48 bg-quarternary">
                <div class="bg-gray-400 h-2/4"></div>
                <div class="m-2 font-trispace">
                    <h3 class="">TITLE</h3>
                    <p class="text-sm opacity-80 font-light text-white">Description Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="h-60 w-48 bg-quarternary">
                <div class="bg-gray-400 h-2/4"></div>
                <div class="m-2 font-trispace">
                    <h3 class="">TITLE</h3>
                    <p class="text-sm opacity-80 font-light text-white">Description Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="h-60 w-48 bg-quarternary">
                <div class="bg-gray-400 h-2/4"></div>
                <div class="m-2 font-trispace">
                    <h3 class="">TITLE</h3>
                    <p class="text-sm opacity-80 font-light text-white">Description Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </main>
</Layout>