<nav class="flex justify-between">
    <ul class="flex gap-x-5 font-semibold text-base">
        <li class="border-b-4 border-tertiary"><a href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Connect</a></li>
    </ul>
    <span>X</span>
</nav>